@import 'variables';
@import 'mixin';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  @include for-size(desktop) {
    width: 1290px;
  }
}

.header {
  background-color: $color_lightgray;

  .top-header {
    padding: 14px 0;
    @include flexBox(space-between, center);

    a {
      text-decoration: none;
      color: $text-secondary;
      font-size: $text-sm;
      display: inline-block;
      padding: 4px;

      &:hover {
        color: $color_gold;
      }
    }
  }
}

.carousel-indicators [data-bs-target] {
  width: 19px;
  height: 19px;
  background-color: #b2b2b2;
  opacity: 1;
  transform: rotate(45deg);
  margin: 0 10px;
}

.carousel-indicators .active {
  background-color: rgb(149, 184, 53);
}

.carousel-indicators {
  margin: 0;
  bottom: 34px;
  @include for-size(desktop) {
    bottom: 68px;
  }
}

.sale-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__square {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ffffff;
    padding: 15px 0;
    margin-bottom: 66px;
    @include for-size(desktop) {
      width: 256px;
      height: 256px;
      padding: 22px 0;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    margin-bottom: 9px;
    @include for-size(desktop) {
      margin-bottom: 18px;
      font-size: 19px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.22;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
    @include for-size(desktop) {
      font-size: 59px;
      margin-bottom: 17px;
    }
  }
  &__decor {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    @include for-size(desktop) {
      font-size: 20px;
    }
    &::before {
      // left long line
      content: ' ';
      position: absolute;
      height: 1px;
      background-color: #fff;
      bottom: 30%;
      left: calc(50% - 40px);
      width: 66px;
      transform: translateX(-100%);
    }
    &::after {
      // right long line
      content: ' ';
      position: absolute;
      height: 1px;
      background-color: #fff;
      bottom: 30%;
      right: calc(50% - 40px);
      width: 66px;
      transform: translateX(100%);
    }
  }
  &__discount {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #000000;
    @include for-size(desktop) {
      font-size: 31px;
    }
  }
  &::after {
    content: ' ';
    border: 2px solid #ffffff;
    width: calc(200px + 8px * 2);
    height: calc(200px + 8px * 2);
    position: absolute;
    top: -8px;
    left: -8px;
    @include for-size(desktop) {
      width: calc(256px + 8px * 2);
      height: calc(256px + 8px * 2);
    }
  }
}

.sale-block__decor-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  @include for-size(desktop) {
    margin-bottom: 14px;
  }

  &::before {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #fff;
    top: 30%;
    left: calc(50% - 40px);
    width: 33px;
    transform: translateX(-100%);
  }
  &::after {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #fff;
    top: 30%;
    right: calc(50% - 40px);
    width: 33px;
    transform: translateX(100%);
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #f09d66 !important;
  border-color: #f09d66 !important;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  border-radius: 0;
  padding: 12px 25px;
  opacity: 0.92;
}

.btn-primary:hover,
.btn-primary:active {
  opacity: 1;
  transform: scale(1.01);
}

.sale-block--button {
  display: block;
  margin: 0 auto;
}

.products-grid {
  @include wrapper;
  display: flex;
}

.title {
  text-align: center;
  position: relative;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: $color-light-gray;
    position: relative;
    top: -13px;
  }

  &:before {
    right: 146px;
    margin: 0 0 0 -100%;
  }

  &:after {
    left: 146px;
    margin: 0 -100% 0 0;
  }

  &__text {
    color: $text_primary;
    font-size: 29px;
    line-height: 31px;
    font-weight: 700;
    display: inline-block;
    position: relative;

    &:after,
    &:before {
      content: '';
      display: block;
      width: 19px;
      height: 19px;
      background-color: $color_gold;
      transform: rotate(-45deg);
      position: absolute;
      top: 8px;
    }

    &:before {
      left: -96px;
    }

    &:after {
      right: -96px;
    }
  }
}

.products {
  padding-top: 96px;

  &__title {
    margin-bottom: 58px;
  }
}

.title1 {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  position: relative;
  max-width: 300px;
  &::before,
  &::after {
    content: ' ';
    position: absolute;
    margin: 0 auto;
    display: inline-block;
    top: 50%;
    width: 19px;
    height: 19px;
    background-color: $color_gold;
    transform: translateY(-50%) rotate(45deg);
  }
  &::before {
    left: -96px;
  }
  &::after {
    right: -96px;
  }
}

.title__text1 {
  &::before,
  &::after {
    content: ' ';
    position: absolute;
    margin: 0 auto;
    display: inline-block;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: $color_gold;
    transform: translateY(-50%) rotate(45deg);
  }
}
