@import 'variables';
@import 'mixin';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  // outline: 1px dotted grey;
  @include for-size(desktop) {
    padding: 0 75px;
    width: 1440px;
  }
}

.header {
  background-color: $color_lightgray;

  .top-header {
    padding: 14px 0;
    @include flexBox(space-between, center);

    a {
      text-decoration: none;
      color: $text-secondary;
      font-size: $text-sm;
      display: inline-block;
      padding: 4px;

      &:hover {
        color: $color_gold;
      }
    }
  }
}

.carousel-indicators [data-bs-target] {
  width: 19px;
  height: 19px;
  background-color: #b2b2b2;
  opacity: 1;
  transform: rotate(45deg);
  margin: 0 10px;
}

.carousel-indicators .active {
  background-color: rgb(149, 184, 53);
}

.carousel-indicators {
  margin: 0;
  bottom: 34px;
  @include for-size(desktop) {
    bottom: 68px;
  }
}

.sale-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__square {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $color-white;
    padding: 15px 0;
    margin-bottom: 66px;
    @include for-size(desktop) {
      width: 256px;
      height: 256px;
      padding: 22px 0;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: $color-white;
    margin-bottom: 9px;
    @include for-size(desktop) {
      margin-bottom: 18px;
      font-size: 19px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.22;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
    @include for-size(desktop) {
      font-size: 59px;
      margin-bottom: 17px;
    }
  }
  &__decor {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: $color-white;
    @include for-size(desktop) {
      font-size: 20px;
    }
    &::before {
      // left long line
      content: ' ';
      position: absolute;
      height: 1px;
      background-color: #fff;
      bottom: 30%;
      left: calc(50% - 40px);
      width: 66px;
      transform: translateX(-100%);
    }
    &::after {
      // right long line
      content: ' ';
      position: absolute;
      height: 1px;
      background-color: #fff;
      bottom: 30%;
      right: calc(50% - 40px);
      width: 66px;
      transform: translateX(100%);
    }
  }
  &__discount {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #000000;
    @include for-size(desktop) {
      font-size: 31px;
    }
  }
  &::after {
    content: ' ';
    border: 2px solid $color-white;
    width: calc(200px + 8px * 2);
    height: calc(200px + 8px * 2);
    position: absolute;
    top: -8px;
    left: -8px;
    @include for-size(desktop) {
      width: calc(256px + 8px * 2);
      height: calc(256px + 8px * 2);
    }
  }
}

.sale-block__decor-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  @include for-size(desktop) {
    margin-bottom: 14px;
  }

  &::before {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #fff;
    top: 30%;
    left: calc(50% - 40px);
    width: 33px;
    transform: translateX(-100%);
  }
  &::after {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #fff;
    top: 30%;
    right: calc(50% - 40px);
    width: 33px;
    transform: translateX(100%);
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #f09d66 !important;
  border-color: #f09d66 !important;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  border-radius: 0;
  opacity: 0.92;
}

.btn-primary:hover {
  opacity: 1;
}

.sale-block--button {
  padding: 12px 25px;
  font-size: 24px;
  line-height: 29px;
  display: block;
  margin: 0 auto;
}

.products-grid {
  display: flex;
  justify-content: space-between;
  &__item {
    position: relative;

    &:hover &-overlay {
      background-color: $color-overlay-bg;
      border-color: transparent;
    }
    &:hover &-overlay::after,
    &:hover &-overlay::before {
      visibility: visible;
      opacity: 1;
    }
    &:hover .products-grid__btn {
      opacity: 1;
    }
    & + & {
      margin-top: 15px;
    }
  }
  &__item-overlay {
    position: absolute;
    height: calc(100% - 60px);
    width: calc(100% - 46px);
    padding-bottom: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    background-color: transparent;
    border: 3px solid;
    border-color: $color-white;
    transition: opacity $transition-prop, background-color $transition-prop,
      border-color $transition-prop;
    &::after,
    &::before {
      content: ' ';
      position: absolute;
      visibility: hidden;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color_gold;
      z-index: 99;
      transition: all $transition-prop;
    }
    &::after {
      height: 1px;
      width: 60px;
    }

    &::before {
      height: 60px;
      width: 1px;
    }
  }
  &__btn {
    display: inline-block;
    opacity: 0;
    font-size: 15px;
    line-height: 17px;
    padding: 12px 12px;
    transition: opacity $transition-prop;
    &:hover {
      cursor: pointer;
    }
  }
}

.section {
  padding-top: 96px;

  &__title {
    margin-bottom: 58px;
  }
}

.title {
  display: flex;
  align-items: center;
  &::before,
  &::after {
    content: ' ';
    position: relative;
    flex-grow: 1;
    height: 1px;
    background-color: #eaeaea;
  }
  &::before {
    margin-right: 63px;
  }
  &::after {
    margin-left: 63px;
  }
  &__text {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    display: flex;
    padding: 0 90px;
    max-width: 600px;
    &::before,
    &::after {
      content: ' ';
      position: absolute;
      margin: 0 auto;
      display: inline-block;
      top: 50%;
      width: 19px;
      height: 19px;
      background-color: $color_gold;
      transform: translateY(-50%) rotate(45deg);
    }
    &::before {
      left: 0em;
    }
    &::after {
      right: 0em;
    }
  }
}
