$color_lightgray: #f2f2f2;
$color-light-gray: #eaeaea;
$color_gold: #d9bf8f;

$text_primary: black;
$text-secondary: #393939;

$text-sm: 10px;

// breakpoints
$micro-mobile: 400px;
$mobile: 480px;
$tablet: 900px;
$desktop: 1280px;
